@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Manrope:wght@300;400;500;600;700&display=swap");




section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #eef5ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
 li {
  margin-bottom: 10px;
  text-align: start;
  color: #6f8fbc;
}


