
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Manrope:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    background-color: #eef5ff ;
    height: 100vh;
  }

  #forgot-password-container,.section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

 

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  #reset-status {
    margin-top: 20px;
    color: #28a745; 
  }